.donate-button {
    height: 2em;
}

@media (min-width: 2400px) {
    .px-xxxl {
        padding-right: 20% !important;
        padding-left: 20% !important;
    }
}

@media (max-width: 800px) {
    .segment {
        scroll-margin-top: 15rem;
    }
}